
# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.dep

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app


#AVR gcc
*.hex
*.eep
*.cof
*.elf
*.map
*.sym
*.lss
*.o
*.lst
*.s
*.d
